@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-white: #f0f8ff;
    --color-text: #b2bbd2;
    --color-subtext: #7b86a7;
    --color-special-text: #73fac9;
    --color-primary: #00c6bc;
    --color-background: #020d1f;
    --color-bg-light: #2a2c43;

    --selection-color: 164, 196, 219, 0.5;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0 auto;
}

html {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-darker);
}

::selection {
  background: rgba(var(--selection-color));
}

section {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
